### Build output ###
/build/
/build-*/

### CMake user overrides ###
/CMakeUserPresets.json

### vcpkg ###
/vcpkg/
/vcpkg_installed/

### IDE ###
/.vs/
/.idea/
*.user
*.suo

### Qt generated ###
/share/djvu/djview4/*.qm

### Autotools / legacy safety net ###
.libs/
/.pc/
/aclocal.m4
/autom4te.cache/
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
Makefile.in
