#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
configure_options += -DCMAKE_BUILD_TYPE=Debug
else ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
configure_options += -DCMAKE_BUILD_TYPE=Debug
else
configure_options += -DCMAKE_BUILD_TYPE=Release
endif
configure_options += -DDJVIEW_BUILD_TRANSLATIONS=ON
configure_options += -DDJVIEW_ENABLE_PLUGIN=OFF

%:
	dh $@ --buildsystem=cmake --builddirectory=build-debian

override_dh_auto_configure:
	dh_auto_configure -- $(configure_options)

override_dh_auto_install:
	dh_auto_install
	@echo "rename djview as djview4 to allow debian alternatives"
	mv debian/tmp/usr/bin/djview debian/tmp/usr/bin/djview4
	mv debian/tmp/usr/share/man/man1/djview.1 debian/tmp/usr/share/man/man1/djview4.1

override_dh_installchangelogs:
	dh_installchangelogs NEWS
